<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
	<logger name="com.yourcompany.packagename" level="INFO" additivity="false">
	    <appender-ref ref="consoleAppender" />
	</logger>
  <root level="INFO">
	  <appender-ref ref="consoleAppender" />
  </root>
</configuration>
